
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  width: 90%;
  height: 90%;
  text-align: justify;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
  
  border-top: 1px solid white;

}

.time-of-day {
  font-size: 30px;
  float: right;
    
}

#currentDay {
  text-align: center;
  color: black;
}

.padding {
  height: 80px;
  
}



.saveBtn {
  float: left;
  border-left: 1px solid black;
  color: white;
  font-size: 40px;
  
}
